<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fireopolis Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script>
       function updateTemperature_Bedroom(){
            $.ajax({url: "https://node-red-mewmew.mybluemix.net/api/get_temperature_bedroom",
                    success: function(result){                                  
                                  var obj = JSON.parse(result)
                                  var t = obj.temperature + "°C"
                                  console.log("Bedroom is " + t)                                  
                                  $("#temperature_value_bedroom").html(t);
                                  }
                  })
                       
        } //end function

        function updateTemperature_LivingRoom(){
          $.ajax({url: "https://node-red-mewmew.mybluemix.net/api/get_temperature_living_room",
                    success: function(result){                                  
                                  var obj = JSON.parse(result)                                  
                                  var t = obj.temperature + "°C"
                                  console.log("Living room is " + t)
                                  $("#temperature_value_living_room").html(t);
                                  }
                  })
        }

        function updateTemperature_Kitchen(){
          $.ajax({url: "https://node-red-mewmew.mybluemix.net/api/get_temperature_kitchen",
                    success: function(result){                                  
                                  var obj = JSON.parse(result)                                  
                                  var t = obj.temperature + "°C"
                                  console.log("Kitchen is " + t)
                                  $("#temperature_value_kitchen").html(t);
                                  }
                  })
        }

        function updateTemperature_Office(){
          $.ajax({url: "https://node-red-mewmew.mybluemix.net/api/get_temperature_office",
                    success: function(result){                                  
                                  var obj = JSON.parse(result)                                  
                                  var t = obj.temperature + "°C"
                                  console.log("Office is " + t)
                                  $("#temperature_value_office").html(t);
                                  }
                  })
        }

        // drawheatmap Function
        function drawHeatmap(){
          var canvas = document.getElementById("myCanvas");
          var ctx = canvas.getContext("2d");

          kitchen = parseInt($("#temperature_value_kitchen").text().substring(0, 2))
          bedroom = parseInt($("#temperature_value_bedroom").text().substring(0, 2))
          livingroom = parseInt($("#temperature_value_living_room").text().substring(0, 2))
          office = parseInt($("#temperature_value_office").text().substring(0, 2))
          
          ctx.strokeStyle = "#0000FF";    
          ctx.strokeRect(0, 0, 150, 100); // Kitchen
          
          if (kitchen>50){
            ctx.fillStyle = "#FF0000";            
            ctx.fillRect(0, 0, 150, 100); // Kitchen
          } else if (kitchen<30) {
            ctx.fillStyle = "#FFF";            
            ctx.fillRect(0, 0, 150, 100); // Kitchen
          }
          ctx.strokeText("Kitchen", 10, 50);

          
          ctx.strokeStyle = "#00FF00";
          ctx.strokeRect(0, 100, 150, 300); // Living Room
          
          if (livingroom>35){
            ctx.fillStyle = "#FF0000";            
            ctx.fillRect(0, 100, 150, 300); // Living Room
          } else if(livingroom<30) {
            ctx.fillStyle = "#FFF";            
            ctx.fillRect(0, 100, 150, 300); // Living Room
          }
          ctx.strokeText("Living Room", 50, 160);
          
          
          ctx.strokeStyle = "#FF00FF";
          ctx.strokeRect(150, 0, 300, 100); // Bedroom
        
          if (bedroom>35){
            ctx.fillStyle = "#FF0000";            
            ctx.fillRect(150, 0, 300, 100); // Bedroom
          } else if(bedroom<30) {
            ctx.fillStyle = "#FFF";            
            ctx.fillRect(150, 0, 300, 100); // Bedroom
          }
          ctx.strokeText("Bedroom", 160, 50);

          
          ctx.strokeStyle = "#a09fe3";
          ctx.strokeRect(150, 100, 300, 300); // Office
        
          if (office>32){
            ctx.fillStyle = "#FF0000";            
            ctx.fillRect(150, 100, 300, 300); // Office
          } else if(office<30) {
            ctx.fillStyle = "#FFF";            
            ctx.fillRect(150, 100, 300, 300); // Office
          }
          ctx.strokeText("Office", 200, 160);
        }

        
        $(document).ready(function(){
             
          setInterval(function () {
                updateTemperature_Bedroom()                
          }, 2000);
          
          setInterval(function () {
                updateTemperature_LivingRoom()                
          }, 2000);
          
          setInterval(function () {
                updateTemperature_Kitchen()                
          }, 2000);
          
          setInterval(function () {
                updateTemperature_Office()                
          }, 2000);
          
          setInterval(function () {
             drawHeatmap() 
       }, 2000);

         });
          
    </script>

  </head>
  <body id="page-top">
    {% extends "template.html" %}
    {% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">
  
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Fireopolis<sup>303</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">

  
      </ul>
      <!-- End of Sidebar -->
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
  
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
  
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
  
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-danger" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
  
              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">
                    Alerts
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-danger">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">June 12, 2020</div>
                      <span class="font-weight-bold">A new monthly SCDF report is ready to download!</span>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">June 7, 2019</div>
                      Your Bedroom's Temperature has exceeded recommended threshold limtis!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">June 2, 2019</div>
                      Your Bedroom's Temperature has exceeded recommended threshold limtis!
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </li>
  
              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-envelope fa-fw"></i>
                  <!-- Counter - Messages -->
                  <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                  <h6 class="dropdown-header">
                    Message Center
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate">Hi there! We were been notice concerning high temperatures in your bedroom lately.</div>
                      <div class="small text-gray-500">Emily Fowler · SCDF Commander · 1d</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                      <div class="status-indicator"></div>
                    </div>
                    <div>
                      <div class="text-truncate">Keep up the good work!</div>
                      <div class="small text-gray-500">Hong Shun · Firepolis Manager · 1w</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                      <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                      <div class="text-truncate">Utilising IoT Technology to Save Lives</div>
                      <div class="small text-gray-500">Fleming Siow · Firepolis Project Owner · 2w</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                      <div class="text-truncate">Have you been keeping track of your gas cooker?</div>
                      <div class="small text-gray-500">Jessica Chen · SCDF · 2w</div>
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
              </li>
  
              <div class="topbar-divider d-none d-sm-block"></div>
  
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">4everTech</span>
                  <img class="img-profile rounded-circle" src="https://i.imgur.com/MAPF7PI.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
  
            </ul>
  
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <div class="d-sm-flex mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
          
            <div class="row">
              <!-- Content Row -->
              <div class="col-xl-4">
                <!-- Bedroom -->
                <div class="col-xl-12 col-md-6 mb-4">
                  <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <i style="width: 1.5em;" class="fas fa-bed fa-sm text-gray-300"></i>
                            Bedroom
                          </div>
                        </div>
                        <div class="col-auto">                    
                          <span id="temperature_value_bedroom"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- Living Room -->
                <div class="col-xl-12 col-md-6 mb-4">
                  <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <i style="width: 1.5em;" class="fas fa-couch fa-sm text-gray-300"></i>
                            Living Room
                          </div>
                        </div>
                        <div class="col-auto">
                          <span id="temperature_value_living_room"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- Kitchen -->
                <div class="col-xl-12 col-md-6 mb-4">
                  <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <i style="width: 1.5em;" class="fas fa-utensils fa-sm text-gray-300"></i>
                            Kitchen
                          </div>
                        </div>
                        <div class="col-auto">
                          <span id="temperature_value_kitchen"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- Office -->
                <div class="col-xl-12 col-md-6 mb-4">
                  <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <i style="width: 1.5em;" class="fas fa-desktop fa-sm text-gray-300"></i>
                            Office
                          </div>
                        </div>
                        <div class="col-auto">
                          <span id="temperature_value_office"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Heat Map -->
              <div class="col-xl-8 card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-danger">Heat Map</h6>
                  </div>
                  <div class="card-body">
                    <canvas id="myCanvas" width="300" height="300" style="border:1px solid #c3c3c3;">
                      Your browser does not support the canvas element.
                    </canvas>
                </div>
              </div>

            <!-- Page SubHeading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h2 class="h5 mb-0 text-gray-800">System Report</h2>
            </div>
  
            <!-- Content Row -->
  
            <div class="row">
  
              <!-- Bedroom Chart -->
              <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Bedroom</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                      <li aria-controls="1" style='margin-right: 2em;' role="presentation" class="active"><a href="#temp_br" role="tab" data-toggle="tab">Temperature</a></li>
                      <li aria-controls="2" style='margin-right: 2em;' role="presentation"><a href="#humd_br" role="tab" data-toggle="tab">Humidity</a></li>
                      <li aria-controls="3" style='margin-right: 2em;' role="presentation"><a href="#footage_br" role="tab" data-toggle="tab">Footage</a></li>
                      <li aria-controls="4" style='margin-right: 2em;' role="presentation"><a href="#smoke_br" role="tab" data-toggle="tab">Smoke Level</a></li>
                    </ul>
                  
                    <div class="tab-content card-body">
                      <div role="tabpanel" class="tab-pane active" id="temp_br">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/0?socketid=1ydeISQLI4tOoYN1AAAn" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>

                      <div role="tabpanel" class="tab-pane" id="humd_br">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/4?socketid=ci7I2sqcxH09tsY-AADj" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>

                      <div role="tabpanel" class="tab-pane" id="footage_br">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="http://e5f342292e5d.ngrok.io/html/min.php" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>

                      <div role="tabpanel" class="tab-pane" id="smoke_br">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/8?socketid=ezMU3UfUva6Lc2oGAACl" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      

                    </div>
                  </div>
                </div>
              </div>

              

              <!-- Living Room Chart -->
              <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Living Room</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                      <li aria-controls="5" style='margin-right: 2em;' role="presentation" class="active"><a href="#temp_lr" role="tab" data-toggle="tab">Temperature</a></li>
                      <li aria-controls="6" style='margin-right: 2em;' role="presentation"><a href="#humd_lr" role="tab" data-toggle="tab">Humidity</a></li>
                      <li aria-controls="7" style='margin-right: 2em;' role="presentation"><a href="#footage_lr" role="tab" data-toggle="tab">Footage</a></li>
                      <li aria-controls="8" style='margin-right: 2em;' role="presentation"><a href="#smoke_lr" role="tab" data-toggle="tab">Smoke Level</a></li>
                    </ul>
                  
                    <div class="tab-content card-body">
                      <div role="tabpanel" class="tab-pane active" id="temp_lr">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/1?socketid=YBRUg5Pys_ZOTC33AABK" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="humd_lr">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/5?socketid=ezMU3UfUva6Lc2oGAACl" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="footage_lr">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="http://e5f342292e5d.ngrok.io/html/min.php" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="smoke_lr">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/9?socketid=ezMU3UfUva6Lc2oGAACl" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Kitchen Chart -->
              <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Kitchen</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                      <li aria-controls="9" style='margin-right: 2em;' role="presentation" class="active"><a href="#temp_kc" role="tab" data-toggle="tab">Temperature</a></li>
                      <li aria-controls="10" style='margin-right: 2em;' role="presentation"><a href="#humd_kc" role="tab" data-toggle="tab">Humidity</a></li>
                      <li aria-controls="11" style='margin-right: 2em;' role="presentation"><a href="#footage_kc" role="tab" data-toggle="tab">Footage</a></li>
                      <li aria-controls="12" style='margin-right: 2em;' role="presentation"><a href="#smoke_kc" role="tab" data-toggle="tab">Smoke Level</a></li>
                    </ul>
                  
                    <div class="tab-content card-body">
                      <div role="tabpanel" class="tab-pane active" id="temp_kc">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/2?socketid=oWu1niGcfp6oREclAAD7" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="humd_kc">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/7?socketid=oWu1niGcfp6oREclAAD7" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="footage_kc">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="http://e5f342292e5d.ngrok.io/html/min.php" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="smoke_kc">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/10?socketid=ezMU3UfUva6Lc2oGAACl" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Office Chart -->
              <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Office</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                      <li aria-controls="13" style='margin-right: 2em;' role="presentation" class="active"><a href="#temp_of" role="tab" data-toggle="tab">Temperature</a></li>
                      <li aria-controls="14" style='margin-right: 2em;' role="presentation"><a href="#humd_of" role="tab" data-toggle="tab">Humidity</a></li>
                      <li aria-controls="15" style='margin-right: 2em;' role="presentation"><a href="#footage_of" role="tab" data-toggle="tab">Footage</a></li>
                      <li aria-controls="16" style='margin-right: 2em;' role="presentation"><a href="#smoke_of" role="tab" data-toggle="tab">Smoke Level</a></li>
                    </ul>
                  
                    <div class="tab-content card-body">
                      <div role="tabpanel" class="tab-pane active" id="temp_of">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/3?socketid=2sAHG0nipK1NPBrNAAAU" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="humd_of">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/7?socketid=oWu1niGcfp6oREclAAD7" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="footage_of">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="http://e5f342292e5d.ngrok.io/html/min.php" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="smoke_of">
                        <div style="overflow:hidden; margin: 15px auto; max-width: 575px;">
                          <iframe scrolling="no" src="https://node-red-mewmew.mybluemix.net/ui/#!/11?socketid=ezMU3UfUva6Lc2oGAACl" style="border: 0px none; margin-top: -100px; margin-left: -2px; margin-bottom: -30px; height: 435px;  width: 484px;">
                          </iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

  
            
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
  
    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    
    {% endblock %}
  </body>
</html>